.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: italic
}

.michroma {
    font-family: "Michroma", sans-serif;
    font-weight: 700;
    font-style: normal
}


.mlight {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.m {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mbold {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h2 {
    font-size: 50px;
    letter-spacing: -3px;
}

h3 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

.bg_area {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.bg_vid {
    position: absolute;
    z-index: -2;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 177.7777777778vh;
    height: 56.25vw;
    min-width: 100%;
    min-height: 100%;
}

.bg_area::after {
    content: '';
    display: blo ck;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: radial-gradient(#1111113a 30%, transparent 5%), radial-gradient(#1111113a 30%, transparent 5%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

header {
    position: relative;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 4px 5px 0px #dd752b, 6px 7px 10px #000000;
    letter-spacing: -2px;
    font-style: italic;
    font-size: 100px;
}

@media screen and (max-width:480px) {
    .logo {
        font-size: 50px;
        text-shadow: 2px 3px 0px #dd752b, 4px 5px 10px #000000;
    }

    .arw {
        height: 10px;
    }
}

.main {
    background: #ffffff;
}

.arw {
    height: 70px;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 10%);

}

@media screen and (max-width:480px) {
    .arw {
        height: 40px;
    }
}


ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

ul li {
    display: table-cell;
    min-width: 50px;
}

ul li.current {
    background-color: #dd752b00;
}

@media screen and (max-width:480px) {
    ul {
        width: 100%;
    }

    ul li.current {
    background-color: #dd752b;
}
}

nav li:not(:last-child) {
    border-right: 2px solid #5e5e5e;
}

ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}



ul li.current a {
    color: #ffffff;
}



ul li:hover {
    background-color: #dd752b;
}

@media screen and (max-width:480px) {
    ul li {
        background-color: #dd752b;
    }

    ul {
        width: 100%;
    }
}

/*フッター*/

.footer {
  background-color: #dd752b;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  z-index: 50;
  border-top: #ecb575 solid;
  border-width: 5px;
  padding-bottom: 100px;
  padding-top: 50px;

}

.copy-txt {
  color: #ffffff;
}

.copylight {
  display: flex;
  flex-direction: row;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.sky {
    margin-top: 14px;
    height: 150px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

/*ページトップアロー*/
.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #00000046;
  border: solid 3px #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: translateY(20%) rotate(-45deg);
}

html {
  scroll-behavior: smooth;
}



.mc_about_img {
    width: 500px;
    border-radius: 10%;
    border: solid 3px #e6e6e6;
    box-shadow: 0px 0px 4px 4px #00000077;
    
}

.about {
    padding: 100px 200px 100px 200px;
    flex-direction: row;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    background-color: #ffffff;
}



.about_txt {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.about-sns {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

@media screen and (max-width:480px) {
    .about {
        flex-direction: column;
        padding: 100px 10px 100px 10px;
    }
    .mc_about_img {
        width: 100%;

    }

    .about_txt {
        width: 100%;
    }
}

.contact-box {
    padding: 100px 200px 100px 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

.contact-banner {
    width: 500px;
    margin-top: 50px;
}

.contact-banner-img {
    border-radius: 20px;
}

@media screen and (max-width:480px) {
    .contact-box {
        flex-direction: column;
        padding: 100px 10px 100px 10px;
    }

    .contact-banner {
    width: 70%;
    margin-top: 50px;
}

.contact-banner-img {
    border-radius: 20px;
}
}

.logo-box {
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 100px 200px 100px 200px;
    background-image: linear-gradient(rgba(212, 212, 212, 0.4) 1px, transparent 1px), linear-gradient(to right, rgba(212, 212, 212, 0.4) 1px, transparent 1px);
    background-size: 50px 50px;
    background-color: #ffffff;
    background-position: -14px 14px;
}

.metacrewlogo {
    width: 200px;
}


@media screen and (max-width:480px) {
    .logo-box {
        padding: 100px 10px 100px 10px;
    }
}

.imcoding {
    border-radius: 5%;
    overflow: hidden;
}

.bg-coding {
    display: flex;
  justify-content: center;
  align-items: center;
    background-color: #5e5e5e;
    height: 100vh;

    background-image: linear-gradient(rgba(194, 194, 194, 0.4) 1px, transparent 1px), linear-gradient(to right, rgba(185, 185, 185, 0.4) 1px, transparent 1px);
    background-size: 50px 50px;
    background-color: #ebebeb;
    background-position: -14px 14px;
}

table {
    margin-top: 10px;
}

.table_design03 {
border-collapse: collapse;
width: 100%;
max-width: 700px;
}
.table_design03 th, .table_design03 td {
border-bottom: 2px solid #c1c7c6;
padding: 1em;
}
.table_design03 th {
border-bottom: 2px solid #dd752b;;
font-weight: bold;
text-align: center;
width: 20%;
min-width: 4em;
}
