.bg_vid {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    width: 177.77778vh;
    height: 56.25vw;
    min-width: 100%;
    min-height: 100%;
}

.bg_area {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.main {
    position: relative;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(0, 0, 0);
    letter-spacing: -2px;
    font-style: italic;
    font-size: 100px;
}