.bg_vid {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    
}

.bg_area {
    position: fixed;
    z-index: -1;
    min-width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(0, 0, 0);
    letter-spacing: -2px;
    font-style: italic;
    font-size: 100px;
}

